In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [3]:
plt.switch_backend('WebAgg')

In [19]:
data_all=pd.read_pickle("processed_data/simple_filter_14Mar18.pkl")

In [20]:
data_all['GPS_Alt_Delta']=data_all.GPS_Alt[:-1] - data_all.GPS_Alt[1:].values

In [21]:
data_all.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Batt,Lat_Delta,Lon_Delta,GPS_Alt_Delta
1,03/14/2018,08:17:34,45.015327,6.127997,1686.2,1.101200e+10,1706.225,17.9,3.957,-0.000004,5.000000e-07,0.6
3,03/14/2018,08:17:36,45.015335,6.127997,1685.6,1.101200e+10,1706.127,17.9,3.874,-0.000004,5.200000e-06,0.0
4,03/14/2018,08:17:38,45.015339,6.127992,1685.6,1.101200e+10,1706.325,17.9,3.867,-0.000011,2.000000e-06,1.2
5,03/14/2018,08:17:39,45.015350,6.127990,1684.4,1.101200e+10,1706.225,17.9,3.874,-0.000016,2.300000e-06,0.8
6,03/14/2018,08:17:40,45.015366,6.127988,1683.6,1.101200e+10,1706.127,17.9,3.887,-0.000011,3.400000e-06,0.6

In [34]:
data = data_all.loc[data_all.GPS_Alt_Delta<=0];data.shape

(7833, 12)

In [38]:
x=data.Lat.values
y=data.Lon.values
#z=data.GPS_Alt.values
z=data.Pres_Alt

In [39]:
len(z)

7833

In [40]:
fig=plt.figure(figsize=(20,10))
ax = fig.gca(projection='3d')
ax.plot(x, y, z, label='ski curve')
ax.legend()

plt.show()