In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime

In [2]:
%matplotlib inline

In [3]:
name = 'ross'
date = datetime(2019,3,17)
filename = '{}_{}_py34.pkl'.format(name,date.strftime('%d%b%y'))
filename

'ross_17Mar19_py34.pkl'

In [4]:
data = pd.read_pickle('processed_data/'+filename)

In [5]:
data.reset_index(drop=True,inplace=True)

In [18]:
values=data[['Lat','Lon','GPS_Alt']].copy()

In [19]:
values.rename(columns={'Lat':'x','Lon':'y','GPS_Alt':'z'},inplace=True)

In [20]:
values.isnull().any()

x    False
y    False
z    False
dtype: bool

In [21]:
values.max()

x      45.135782
y       6.132516
z    3305.300000
dtype: float64

In [22]:
values.min()

x      45.078035
y       6.035875
z    1335.800000
dtype: float64

In [23]:
diff = values.max() -values.min()
diff

x       0.057747
y       0.096641
z    1969.500000
dtype: float64

In [24]:
values = (values - diff )/ values.min()

In [26]:
values.head()

          x         y         z
0  0.999004  0.988567 -0.151520
1  0.999004  0.988570 -0.150022
2  0.999004  0.988570 -0.149573
3  0.999004  0.988568 -0.148001
4  0.999003  0.988566 -0.146803

In [30]:
json_values = values.to_dict(orient='records')

In [31]:
json_values[0:3]

[{'x': 0.9990036908256843, 'y': 0.9885671376467516, 'z': -0.1515196885761344},
 {'x': 0.9990040936826395, 'y': 0.9885700369777529, 'z': -0.1500224584518643},
 {'x': 0.9990039605801213, 'y': 0.9885697056256384, 'z': -0.14957328941458317}]

In [20]:
with open('json_14Mar18.json','w') as f:
    json.dump(json_values,f)

In [32]:
#single run
with open('json_14Mar18_single.json','w') as f:
    json.dump(json_values[4000:6000],f)