In [41]:
import pandas as pd
import numpy as np
import json
from datetime import datetime

In [42]:
%matplotlib inline

In [45]:
name = 'josh'
date = datetime(2019,3,17)
filename = '{}_{}.pkl'.format(name,date.strftime('%d%b%y'))
filename

'josh_17Mar19.pkl'

In [46]:
data = pd.read_pickle('processed_data/'+filename)

In [47]:
data.reset_index(drop=True,inplace=True)

In [90]:
data.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Batt,Lat_Rad,Lon_Rad,Lat_Delta,Lon_Delta,Lat_Rad_Delta,Lon_Rad_Delta,GPS_Alt_Delta,distance,gradient,grad_colour
0,03/17/2019,08:44:03,45.097191,6.069313,0.0,11002221010,1859.802,23.4,4.022,0.787094,0.105930,0.000000,-0.000001,0.000000e+00,-2.617994e-08,NaN,0.117777,NaN,2
1,03/17/2019,08:44:04,45.097191,6.069315,1867.0,11002221022,1860.903,23.4,3.945,0.787094,0.105930,0.000000,0.000006,0.000000e+00,1.012291e-07,1867.0,0.455403,0.013976,1
2,03/17/2019,08:44:05,45.097191,6.069309,1867.1,11002221000,1860.602,23.4,3.925,0.787094,0.105929,-0.000004,0.000008,-6.981317e-08,1.326450e-07,0.1,0.744343,82.348319,0
3,03/17/2019,08:44:06,45.097195,6.069302,1867.2,11002221021,1859.802,23.5,3.938,0.787095,0.105929,0.000000,0.000008,0.000000e+00,1.413717e-07,0.1,0.635994,81.064310,0
4,03/17/2019,08:44:07,45.097195,6.069293,1867.0,11002221100,1860.703,23.5,3.938,0.787095,0.105929,0.000000,0.000007,0.000000e+00,1.169371e-07,-0.2,0.526069,-69.184302,2

In [110]:
values=data[['Lat','Lon','GPS_Alt','grad_colour']].copy()

In [111]:
values.rename(columns={'Lat':'y','Lon':'x','GPS_Alt':'z','grad_colour':'c'},inplace=True)

In [112]:
values = values[1:2000]

In [113]:
coords=['x','y','z']

In [114]:
#diff = values -values.mean()
diff = values[coords].max() - values[coords].min()

In [115]:
diff

x      0.033496
y      0.008255
z    567.300000
dtype: float64

In [116]:
values[coords] = (values[coords] -  values[coords].min() )/diff

In [117]:
values.head()

          y         x         z  c
1  0.589703  1.000000  0.534109  1
2  0.589703  0.999827  0.534285  0
3  0.590188  0.999600  0.534461  0
4  0.590188  0.999358  0.534109  2
5  0.590188  0.999158  0.533580  2

In [118]:
values.describe()

                 y            x            z            c
count  1999.000000  1999.000000  1999.000000  1999.000000
mean      0.675228     0.433919     0.566744     1.017009
std       0.218762     0.277172     0.322835     0.999855
min       0.000000     0.000000     0.000000     0.000000
25%       0.562144     0.235884     0.289177     0.000000
50%       0.657177     0.402485     0.623832     2.000000
75%       0.868807     0.663453     0.861185     2.000000
max       1.000000     1.000000     1.000000     2.000000

In [119]:
json_values = values.to_dict(orient='records')

In [120]:
json_values[0:3]

[{'y': 0.5897032101759958, 'x': 1.0, 'z': 0.534108937070333, 'c': 1.0},
 {'y': 0.5897032101759958,
  'x': 0.9998268444794918,
  'z': 0.5342852106469237,
  'c': 0.0},
 {'y': 0.5901877649908968,
  'x': 0.9995999510388022,
  'z': 0.5344614842235148,
  'c': 0.0}]

with open('json_14Mar18.json','w') as f:
    json.dump(json_values,f)

In [121]:
#single run
with open('json_single.json','w') as f:
    json.dump(json_values[1:2000],f)