In [2]:
import pandas as pd
import simplekml

In [3]:
data = pd.read_csv("filtered_7Mar.csv")

In [4]:
data.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Bat,Lat_delta,Lon_delta,Lat_filter,Lon_filter,Point_Filter
0,07/03/17,08:06:36,45.372421,6.574711,1803.0,11010211222,1793.879,18.0,3.667,-0.000035,-0.000015,True,True,True
1,07/03/17,08:06:37,45.372433,6.574725,1799.8,11010212010,1793.782,18.1,3.661,0.000012,0.000014,True,True,True
2,07/03/17,08:06:38,45.372444,6.574736,1799.8,11010212002,1793.184,18.1,3.654,0.000011,0.000011,True,True,True
3,07/03/17,08:06:39,45.372433,6.574749,1793.9,11010211210,1793.782,18.1,3.654,-0.000011,0.000013,True,True,True
4,07/03/17,08:06:40,45.372437,6.574742,1793.6,11010212111,1792.590,18.1,3.661,0.000004,-0.000007,True,True,True

In [5]:
kml = simplekml.Kml(open=1)

In [14]:
rel_data = data[['Lat','Lon','GPS_Alt']].values

In [19]:
for tup in rel_data:
    pnt = kml.newpoint()
    #1 = lon, 0 = lat, 2 = alt
    pnt.coords = [(tup[1],tup[0],tup[2])]

In [20]:
kml.save("7Mar_test.kml")

In [21]:
kml2= simplekml.Kml(open=1)

In [22]:
lineString = kml2.newlinestring(name = "March 7th")

In [23]:
lineCoords = []
for tup in rel_data:
    #1 = lon, 0 = lat, 2 = alt
    lineCoords.append((tup[1],tup[0],tup[2]))

In [25]:
lineString.coords = lineCoords

In [26]:
kml2.save("7Mar_line.kml")