In [1]:
import pandas as pd
import simplekml

In [2]:
raw  =pd.read_csv("dataOut_14March18.csv", header=None, names=['Date','Time','Lat','Lon','GPS_Alt','Pressure','Pres_Alt','Temp','Batt'])

In [3]:
raw.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Batt
0,Initializing SD card...card initialized.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03/14/2018,08:17:34,45.015327,6.127997,1686.2,1.101200e+10,1706.225,17.9,3.957
2,03/14/2018,08:17:35,45.015331,6.127996,1685.9,1.101200e+10,1706.225,17.9,3.874
3,03/14/2018,08:17:36,45.015335,6.127997,1685.6,1.101200e+10,1706.127,17.9,3.874
4,03/14/2018,08:17:38,45.015339,6.127992,1685.6,1.101200e+10,1706.325,17.9,3.867

In [4]:
raw.shape

(24068, 9)

In [5]:
raw['Lat_Delta']=raw.Lat[:-1] - raw.Lat[1:].values

/usr/local/lib/python2.7/dist-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.2.2 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [6]:
raw['Lon_Delta']=raw.Lon[:-1] - raw.Lon[1:].values

In [7]:
data = raw[(raw.Lat_Delta > 0) | (raw.Lon_Delta >0)]

In [8]:
data.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Batt,Lat_Delta,Lon_Delta
1,03/14/2018,08:17:34,45.015327,6.127997,1686.2,1.101200e+10,1706.225,17.9,3.957,-0.000004,5.000000e-07
3,03/14/2018,08:17:36,45.015335,6.127997,1685.6,1.101200e+10,1706.127,17.9,3.874,-0.000004,5.200000e-06
4,03/14/2018,08:17:38,45.015339,6.127992,1685.6,1.101200e+10,1706.325,17.9,3.867,-0.000011,2.000000e-06
5,03/14/2018,08:17:39,45.015350,6.127990,1684.4,1.101200e+10,1706.225,17.9,3.874,-0.000016,2.300000e-06
6,03/14/2018,08:17:40,45.015366,6.127988,1683.6,1.101200e+10,1706.127,17.9,3.887,-0.000011,3.400000e-06

In [9]:
data.shape

(14798, 11)

In [10]:
kml = simplekml.Kml(open=1)

In [11]:
lineString = kml.newlinestring(name = "Jan 2018")

In [12]:
lineCoords = []
rel_data = data[['Lat','Lon','GPS_Alt']].values
for tup in rel_data:
    #1 = lon, 0 = lat, 2 = alt
    lineCoords.append((tup[1],tup[0],tup[2]))

In [13]:
lineString.coords = lineCoords

In [14]:
kml.save("14Mar18_line.kml")