In [19]:
import pandas as pd
import simplekml

In [2]:
raw  =pd.read_csv("dataOut_20Jan18.csv", header=None, names=['Date','Time','Lat','Lon','GPS_Alt','Pressure','Pres_Alt','Temp','Batt'])

In [13]:
raw.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Batt,Lat_Delta,Lon_Delta
0,01/20/2018,10:11:38,42.264164,23.606268,1355.9,11100120102,1388.108,14.5,3.803,0.0,0.0
1,01/20/2018,10:11:39,42.264164,23.606268,1355.9,11100120120,1387.059,14.5,3.629,0.0,0.0
2,01/20/2018,10:11:40,42.264164,23.606268,1355.9,11100120211,1387.442,14.5,3.661,0.0,0.0
3,01/20/2018,10:11:41,42.264164,23.606268,1355.9,11100120201,1388.108,14.5,3.654,0.0,0.0
4,01/20/2018,10:11:42,42.264164,23.606268,1355.9,11100112212,1389.442,14.5,3.648,0.0,0.0

In [4]:
raw.shape

(4039, 9)

In [11]:
raw['Lat_Delta']=raw.Lat[:-1] - raw.Lat[1:].values

In [12]:
raw['Lon_Delta']=raw.Lon[:-1] - raw.Lon[1:].values

In [26]:
data = raw[(raw.Lat_Delta > 0) | (raw.Lon_Delta >0)]

In [27]:
data.head()

,Date,Time,Lat,Lon,GPS_Alt,Pressure,Pres_Alt,Temp,Batt,Lat_Delta,Lon_Delta
12,01/20/2018,10:11:51,42.264164,23.606268,1355.9,11100112221,1389.252,14.6,3.622,0.005657,-0.004639
58,01/20/2018,12:01:21,42.258507,23.610907,1111.8,11020122012,1593.323,11.1,3.648,0.003391,0.001704
59,01/20/2018,12:01:22,42.255116,23.609203,1609.9,11020121210,1594.393,11.1,3.661,0.000054,0.000002
60,01/20/2018,12:01:24,42.255062,23.609201,1608.5,11020121000,1596.243,11.1,3.635,0.000019,-0.000014
61,01/20/2018,12:01:25,42.255043,23.609215,1605.1,11020120111,1597.897,11.1,3.622,0.000030,-0.000032

In [28]:
data.shape

(2185, 11)

In [29]:
kml = simplekml.Kml(open=1)

In [30]:
lineString = kml.newlinestring(name = "Jan 2018")

In [31]:
lineCoords = []
rel_data = data[['Lat','Lon','GPS_Alt']].values
for tup in rel_data:
    #1 = lon, 0 = lat, 2 = alt
    lineCoords.append((tup[1],tup[0],tup[2]))

In [32]:
lineString.coords = lineCoords

In [33]:
kml.save("Jan18_line.kml")